.page1-alert {
    background-color: white;
    border-radius: 100px;
    height: 70px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 1px 3px #999999;
    margin-top: 5%;
    width: 60vh;
}
.page1-alert > .page1-erreur {
    height: 70px;
}
.page1-alert > .page1-details {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.page1-alert > .page1-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.page1-alert > .page1-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.page1-alert > .page1-top,
.page1-alert > .page1-bottom {
    width: 275px;
}
.page1-alert > .page1-top-left {
    color: #0070c0;
    font-weight: bold;
}
.page1-alert > .page1-bottom-left {
    color: red;
    font-weight: bold;
}
.page1-alert > .under-msg {
    display: flex;
    width: 90%;
    justify-content: center;
}
.page1-bottom-red {
    color: red;
    font-weight: bold;
}
