/*table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: scroll;
}
table {
    height: 700px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
th {
    background-color: #7f7f7f;
    padding: 8px;
    color: white;
    border: 1px solid white;
}
td {
    background-color: #d8d8d8;
    color: black;
    padding: 8px;
    border: 1px solid white;
}*/
.table {
    overflow-y: auto;
    height: 700px;
}
.tableFixHead thead th {
    position: sticky;
    top: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th,
td {
    padding: 8px 16px;
    border: 1px solid #ccc;
    background-color: whitesmoke;
}
th {
    position: sticky;
    top: 0;
}
